  
<p> Sign up </p>
<form action="http://127.0.0.1:3000/user/signUp" method="post">
    id :        <input type='text' name='id'/>
    password :  <input type='password' name='password'/>
    email :     <input type='email' name='email'/>
    <button type='submit'>submit</button>
</form></br></br>

<p> Sign in </p>
<form action="http://127.0.0.1:3000/user/signIn" method="post">
    id :        <input type='text' name='id'/>
    password :  <input type='password' name='password'/>
    <button type='submit'>submit</button>
</form></br></br>

<p> Modify </p>
<form action="http://127.0.0.1:3000/user/modify" method="post">
    id :        <input type='text' name='id'/>
    password :  <input type='password' name='password'/>
    email :     <input type='email' name='email'/>
    <button type='submit'>submit</button>
</form></br></br>

<p> Withdrawal </p>
<form action="http://127.0.0.1:3000/user/Withdrawal" method="post">
    id :        <input type='text' name='id'/>
    <button type='submit'>submit</button>
</form></br></br>

<p> Check User table </p>
<form action="http://127.0.0.1:3000/user/" method="get">
    <button type='submit'>submit</button>
</form></br></br>